NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_REGISTRY_ID=
NEXT_PUBLIC_FACTORY_ID=
NEXT_PUBLIC_SHIPMENT_ID=
NEXT_PUBLIC_HANDOFF_ID=
NEXT_PUBLIC_INSPECTION_ID=
NEXT_PUBLIC_SETTLEMENT_ID=
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
